<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 希望 vue 能够控制下面的这个 div, 帮我们把数据填充到 div 内部 -->
    <div id="app">
        <!-- if会把元素从dom中删除 -->
        <p v-if="flag">这是被v-if控制的元素</p>
        <!-- show是添加和删除display:none  -->
        <p v-show="flag">这是被v-show控制的元素</p>
        <hr>
        <p v-if="leave==='A'">优秀</p>
        <p v-else-if="leave==='B'">良好</p>
        <p v-else-if="leave==='C'">合格</p>
        <p v-else="leave==='D'">不合格</p>
    </div>

    <!-- 1. 导入 vue 的库文件, 在 window 全局就有了 vue 这个构造函数 -->
    <script src="./lib/vue-2.6.12.js"></script>
    <!-- 2. 创建 vue 的实例对象 -->
    <script>
        // 创建 vue 的实例对象
        const vm = new Vue({
            // el 表示 vm 实例要控制页面上的哪个区域, 值是一个选择器
            el: '#app',
            // data 对象 data 是要渲染到页面上的数据
            data: {
                // 如果 flag 为 true, 则显示被控制的元素; 如果为 false 则隐藏被控制的元素
                flag: true,
                leave: 'A'
            }
        })
    </script>
</body>

</html>